body {
    background-color:#df7ad2;
    
}
.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
#calculadora {
    background-color: #b1b1b1;
    color: #282c34;
    border-radius: 2px;
    width: 334px;
    height: 250px;
    padding: 3px;
}
#calculadora .btn {
    margin: 2px;
    color: #282c34;
    border-radius: 2px;
    min-height: 44px;
    outline: none;
    box-shadow: none;
}

#cuadrado {
    height: 205px;
    font-size: 36px;
    font-weight: bold;
    position: relative;
}



#resultado {
    color: #541287;
    text-align: right;
    
    bottom: 0;
    width: 100%;
    font-size: 100px;
    font-weight: 1000;
    font-weight: bold;
    position: absolute;
}
.numeros {
    background-color: #EFEFEF;
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 600;
}
.acciones {
    background-color: #D1D1D1;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
}